<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<base href="<!--{$baseurl}-->" />
<title>Insert title here</title>

<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="js/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="js/easyui/themes/icon.css" />
<script type="text/javascript" src="js/easyui/jquery.min.js"></script>
<script type="text/javascript" src="js/easyui/jquery.easyui.min.js"></script>

<script type="text/javascript">
	function doSearch(){
		alert("do search");
		return false;
	}

	//////////////////////////////
	var url = null;
	function onAddUser(){
//		alert("添加账户");
		$('#dlg').dialog('open').dialog('setTitle','New User');
		$('#fm').form('clear');

		url = '<!--{$adminroot}-->/userpage.php?act=add';
		return false;
	}

	function onEditUser(){
//		alert("请选择需要修改的账户！");
		var row = $('#dg').datagrid('getSelected');
		 
		if (row){
//			$("#userid").attr("disabled","true");
		//	$("#userid").hide();
			$('#dlg').dialog('open').dialog('setTitle','Edit User');
			$('#fm').form('load', row);

			url = '<!--{$adminroot}-->/userpage.php?act=edit';
		}
		return false;
	}
	
	function saveUser(){
//		alert(url);
		$('#fm').form('submit',{
			url:url,
			onSubmit:function(){
				return $(this).form('validate');
			},
			success:function(result){
				$('#dlg').dialog('close'); // close the dialog
				$('#dg').datagrid('reload'); // reload the user data
				//*/
				var result = eval('('+result+')');
				if (result.errorMsg){
					$.messager.show({
						title: 'Error',
						msg: result.errorMsg
					});
				} else {
					$('#dlg').dialog('close'); // close the dialog
					$('#dg').datagrid('reload'); // reload the user data
				}
				//*/
			}
		});
	}
	
	function onDeleteUser(){
		var row = $('#dg').datagrid('getSelected');
		var url = "<!--{$adminroot}-->/userpage.php?act=delete";
		if (row){
			$.messager.confirm('Confirm','Are you sure you want to destroy this user?',function(r){
				if (r){
					$.post(url, {id:row.id}, function(result){
						$('#dg').datagrid('reload');
						/*/
						if (result.success){
							$('#dg').datagrid('reload'); // reload the user data
						} else {
							$.messager.show({ // show error message
								title: 'Error',
								msg: result.errorMsg
							});
						}
						//*/
					},'json');
				}
			});
			$('#dg').datagrid('reload');
		}
	}

	function onGetSelected(){
		var row = $('#dg').datagrid('getSelected');
		if (row){
			$.messager.alert('Info', row.id+":"+row.name+":"+row.email);
		}
		return false;
	}
</script>
</head>
<body>
<table id="dg" class="easyui-datagrid" title="会员账户" style="width:700px;height:auto"
data-options="singleSelect:'true',rownumbers:'true',toolbar:'#tb',pagination:'true',url:'<!--{$adminroot}-->/userpage.php?act=list', method:'get'">
	<thead>
		<tr>
			<th field="ck" checkbox="true"></th>
			<th data-options="field:'id', width:50">ID</th>
			<th data-options="field:'uid',width:80,editor:'textbox'">用户名</th>
			<th data-options="field:'name',width:80,editor:'textbox'">姓名</th>
			<th data-options="field:'status',width:80,editor:'textbox'">状态</th>
			<th data-options="field:'email',width:150,editor:'textbox'">EMAIL</th>
			<th data-options="field:'action',width:100,editor:'textbox'">操作</th>
		</tr>
	</thead>
</table>

<div id="tb" style="padding:5px;height:auto">
		<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="return onAddUser();">添加</a>
		<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="return onEditUser();">修改</a>	
		<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="return onDeleteUser();">删除</a>
		<a href="javascript:void(0);" class="easyui-linkbutton" onclick="return onGetSelected();">GetSelected</a>

		<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<span>账户名:</span>
		<input id="name" style="line-height:22px;border:1px solid #ccc">
		<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="return doSearch();">搜索</a>

</div>

<div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px;" closed="true" buttons="#dlg-buttons">
	<div class="ftitle"></div>
	<form id="fm" method="post" novalidate="">
		<div class="fitem">
			<label>User ID</label>
			<input id="userid" name="uid" class="easyui-textbox" required="true">
		</div>

		<div class="fitem">
			<label>User Name:</label>
			<input name="name" class="easyui-textbox" required="true">
		</div>
		
		<div class="fitem">
			<label>Password:</label>
			<input name="password" class="easyui-textbox" required="true">
		</div>
		
		<div class="fitem">
			<label>Repeat Password:</label>
			<input name="password2" class="easyui-textbox" required="true">
		</div>

		<div class="fitem">
			<label>Email</label>
			<input name="email" class="easyui-textbox">
		</div>
	</form>
	</div>
 
	<div id="dlg-buttons">
		<a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="saveUser()" style="width:90px">Save</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
	</div>
</div>
</body>
</html>